# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
static/CACHE

# Backup files
*.bak

# Python
*.py[cod]
*$py.class

# Nodejs
/node_modules

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors directories
.history
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*
*.vscode/*

# System files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Trash-*
