/*------------------------------------------------------------------------------
 * BASE
 * ---------------------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  font: 400 16px $font-sans;
  color: $text-color;
  background: $bg-color;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-weight: 900;
}

h1 { margin-bottom: 1rem; font-size: 6rem; }
h2 { margin-bottom: 0.5rem; font-size: 4rem; color: $text-gray; }

p { line-height: 1.6rem;}
