/*------------------------------------------------------------------------------
 * RESET
 * ---------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: $destak;
}

a:hover, a:focus {
  color: darken($destak, 10);
}

img {
  width: 100%;
  height: auto;
}
