/*------------------------------------------------------------------------------
 * RESET
 * ---------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #15803D;
}

a:hover, a:focus {
  color: #16A34A;
}

img {
  width: 100%;
  height: auto;
}
