/*-------- RESET -----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
    color: #15803D;
}

a:hover, a:focus {
    color: #16A34A;
}

img {
  width: 100%;
  height: auto;
}


/*-------- VARIABLES -------------------------------------*/
:root {
    /* colors */
    --text-color: #1E293B;
    --bg-color: #F0FDF4;

    /* fonts */
    --body-font: 'Lora', sans-serif;
}


/*-------- BASE ------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font: 400 16px var(--body-font);
  color: var(--text-color);
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
    font-weight: 700;
    font-style: italic;
}

h1 { font-size: 1.6rem; }
h2 { font-size: 1.3rem; }

p { line-height: 1.6rem;}


/*------- LAYOUT -----------------------------------------*/
.container {
    width: 420px;
    margin: 180px auto 0;
}

header {
    margin-bottom: 1rem;
}

footer {
    margin-top: 1rem;
}
